*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #5adcf7, #ea5fa7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    width: 90%;
    height: 630px;
    max-width: 600px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0;
    position: relative;
}

.input-group label{
    flex-basis: 70%;
    text-align: right;
    margin-right: 20px;
    padding: 4px 2px 4px 0;
    border-right: 1px solid black;
    font-size: 18px;
}

.input-group p{
    flex-basis: 78%;
    padding: 10px 0;
    font-size: 18px;
    text-align: right;
}

.input-group input{
    flex-basis: 78%;
    background: rgb(229, 228, 228);
    border: 0;
    outline: 0;
    padding: 10px 8px;
    color: #333;
    font-size: 20px;
}

.input-group input:hover{
    background-color: rgb(211, 209, 209);
}

.example{
    color: rgb(116, 114, 114);
    margin-left: 260px;
    font-size: 14px;
}

::placeholder{
    font-size: 14px;
}

.button{
    display: flex;
    float: right;
}

.button button, .button input{
    background: linear-gradient(#5ac3f7, #5f97ea);
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px 0 10px 15px;
    font-size: 18px;
}

.cancel{
    width: 280px;
    margin-left: 10px;
    /* float: right; */
}